bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.ai/mcp/mcp.json
.idea/.idea.RTE/.idea/.gitignore
.idea/.idea.RTE/.idea/discord.xml
.idea/.idea.RTE/.idea/indexLayout.xml
.idea/.idea.RTE/.idea/vcs.xml
